In [1]:
import pandas as pd

In [10]:
file1 = "data/t2_ec 20190619.csv"
t2_ec = pd.read_csv(file1)
t2_ec.head()

,ID,SX,RID,SITEID,VISCODE,ENTRY,VERIFY,USERID,USERDATE,USERID2,...,ECENDAT,ECOCCUR,ECREASOC,REASOTH,ECSDSTXT,ECDOSU,ECDOSFRQ,ECDOSADJ,ECADJ,ECADJOTH
0,2,-4,20,2,w04,4,4,BBAGGINS_UCSD_EDU_2,8/10/18,NaN,...,8/10/18,N,OTHER,Test,-4,-4,-4,-4,-4,-4.0
1,4,-4,20,2,w08,4,4,BBAGGINS_UCSD_EDU_2,8/10/18,NaN,...,8/10/18,Y,-4,-4,200,mg,QD,N,-4,-4.0
2,6,-4,20,2,w12,4,4,BBAGGINS_UCSD_EDU_2,8/10/18,NaN,...,8/10/18,Y,-4,-4,200,mg,QD,N,-4,-4.0
3,8,-4,20,2,bl,4,4,BBAGGINS_UCSD_EDU_2,8/10/18,NaN,...,8/10/18,Y,-4,-4,140,mg,QD,N,-4,-4.0
4,10,-4,20,2,w24,4,4,BBAGGINS_UCSD_EDU_2,8/10/18,BBAGGINS_UCSD_EDU_2,...,-4,Y,-4,-4,200,mg,QD,N,-4,-4.0

In [121]:
filter_not_df(t2_ec, 'ID', 6).VISCODE[1]

'w08'

In [81]:
file2 = "t2_registry 20190619.csv"
t2_registry = pd.read_csv(file2)
t2_registry.head()

,ID,SX,RID,SITEID,VISCODE,ENTRY,VERIFY,USERID,USERDATE,USERID2,USERDATE2,SVPERF,SVSTDT,SVRESCRN,SVPREVID,SVCALL,SVDOSE,SVCOVAL
0,6,-4,19,1,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,NaN,Y,8/9/18,N,-4,-4,-4,-4
1,8,-4,17,2,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,NaN,Y,8/9/18,N,-4,-4,-4,-4
2,10,-4,20,2,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,NaN,Y,8/9/18,N,-4,-4,-4,-4
3,12,-4,20,2,bl,4,4,BBAGGINS_UCSD_EDU_2,8/10/18,NaN,NaN,Y,8/10/18,-4,-4,-4,-4,-4
4,14,-4,20,2,w02,4,4,BBAGGINS_UCSD_EDU_2,8/24/18,NaN,NaN,Y,8/10/18,-4,-4,Y,Y,-4

In [107]:
filter_df_not(t2_registry, 'VISCODE', 'sc').USERID[0]

0    BBAGGINS_UCSD_EDU_2
1    BBAGGINS_UCSD_EDU_2
2    BBAGGINS_UCSD_EDU_2
Name: USERID, dtype: object

In [92]:
def filter_df(dataframe, column, condition):
    return dataframe[dataframe[column] == condition]

In [94]:
def filter_not_df(dataframe, column, condition):
    return dataframe[dataframe[column] != condition]

In [120]:
df2 = filter_not_df(t2_registry,"VISCODE", "sc")
len(df2)

11

In [97]:
filter_not_df(t2_registry,"VISCODE", "bl")

,ID,SX,RID,SITEID,VISCODE,ENTRY,VERIFY,USERID,USERDATE,USERID2,USERDATE2,SVPERF,SVSTDT,SVRESCRN,SVPREVID,SVCALL,SVDOSE,SVCOVAL
0,6,-4,19,1,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,NaN,Y,8/9/18,N,-4,-4,-4,-4
1,8,-4,17,2,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,NaN,Y,8/9/18,N,-4,-4,-4,-4
2,10,-4,20,2,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,NaN,Y,8/9/18,N,-4,-4,-4,-4
4,14,-4,20,2,w02,4,4,BBAGGINS_UCSD_EDU_2,8/24/18,NaN,NaN,Y,8/10/18,-4,-4,Y,Y,-4
5,16,-4,20,2,w04,4,4,BBAGGINS_UCSD_EDU_2,9/24/18,NaN,NaN,Y,8/10/18,-4,-4,-4,-4,-4
6,18,-4,20,2,w08,4,4,BBAGGINS_UCSD_EDU_2,10/24/18,NaN,NaN,Y,8/10/18,-4,-4,-4,-4,-4
7,20,-4,20,2,w12,4,4,BBAGGINS_UCSD_EDU_2,11/24/18,NaN,NaN,Y,8/10/18,-4,-4,-4,-4,-4
8,22,-4,20,2,w24,4,4,BBAGGINS_UCSD_EDU_2,2/24/19,NaN,NaN,Y,8/10/18,-4,-4,-4,-4,-4
9,24,-4,20,2,w36,4,4,BBAGGINSD_UCSD_EDU_2,5/24/19,NaN,NaN,Y,8/10/18,-4,-4,-4,-4,-4
12,30,-4,19,1,w02,4,4,MORPHEUS_UCSD_EDU_2,8/9/18,NaN,NaN,Y,8/9/18,N,-4,Y,Y,-4
13,32,-4,17,2,w02,4,4,MORPHEUS_UCSD_EDU,8/9/18,NaN,NaN,Y,8/9/18,N,-4,Y,Y,-4

In [ ]:
def left_mergedf(df1, df2, c1, c2):
    return

In [19]:
pie_chart_filter = t2_registry.loc[(t2_registry["VISCODE"] != "bl"), :]
pie_chart_filter = pie_chart_data.loc[(pie_chart_data["SVPERF"] == "Y"), :]
pie_chart_filter.head()

,ID,SX,RID,SITEID,VISCODE,ENTRY,VERIFY,USERID,USERDATE,USERID2,USERDATE2,SVPERF,SVSTDT,SVRESCRN,SVPREVID,SVCALL,SVDOSE,SVCOVAL
0,6,-4,19,1,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,NaN,Y,8/9/18,N,-4,-4,-4,-4
1,8,-4,17,2,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,NaN,Y,8/9/18,N,-4,-4,-4,-4
2,10,-4,20,2,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,NaN,Y,8/9/18,N,-4,-4,-4,-4
4,14,-4,20,2,w02,4,4,BBAGGINS_UCSD_EDU_2,8/24/18,NaN,NaN,Y,8/10/18,-4,-4,Y,Y,-4
5,16,-4,20,2,w04,4,4,BBAGGINS_UCSD_EDU_2,9/24/18,NaN,NaN,Y,8/10/18,-4,-4,-4,-4,-4

In [35]:
pie_chart_data = pie_chart_filter['VISCODE'].value_counts()
pie_chart_data

w02    3
sc     3
w12    1
w36    1
w24    1
w04    1
w08    1
Name: VISCODE, dtype: int64

In [34]:
pie_chart_index = pie_chart_data.index
pie_chart_index[0]

'w02'

In [77]:
import plotly.graph_objects as go

labels = pie_chart_index
values = pie_chart_data

fig = go.Figure(go.Pie(labels=labels, values=values, 
                hovertemplate = 'VISCODE: %{label} <br> Count: %{value} (%{percent})'))
fig.update_layout(title_text="Viscodes from Registry")
fig.show()

In [84]:
def left_mergedf(df1, df2, c1, c2):
    return pd.merge(df1, df2,  how='left', on = [c1, c2])

In [85]:
left_mergedf(t2_registry, t2_ec, 'RID', 'VISCODE')

,ID_x,SX_x,RID,SITEID_x,VISCODE,ENTRY_x,VERIFY_x,USERID_x,USERDATE_x,USERID2_x,...,ECENDAT,ECOCCUR,ECREASOC,REASOTH,ECSDSTXT,ECDOSU,ECDOSFRQ,ECDOSADJ,ECADJ,ECADJOTH
0,6,-4,19,1,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,-4,17,2,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,-4,20,2,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12,-4,20,2,bl,4,4,BBAGGINS_UCSD_EDU_2,8/10/18,NaN,...,8/10/18,Y,-4,-4,140.0,mg,QD,N,-4,-4.0
4,14,-4,20,2,w02,4,4,BBAGGINS_UCSD_EDU_2,8/24/18,NaN,...,2/18/19,Y,-4,-4,280.0,mg,QD,Y,PER PROTOCOL,-4.0
5,16,-4,20,2,w04,4,4,BBAGGINS_UCSD_EDU_2,9/24/18,NaN,...,8/10/18,N,OTHER,Test,-4.0,-4,-4,-4,-4,-4.0
6,18,-4,20,2,w08,4,4,BBAGGINS_UCSD_EDU_2,10/24/18,NaN,...,8/10/18,Y,-4,-4,200.0,mg,QD,N,-4,-4.0
7,20,-4,20,2,w12,4,4,BBAGGINS_UCSD_EDU_2,11/24/18,NaN,...,8/10/18,Y,-4,-4,200.0,mg,QD,N,-4,-4.0
8,22,-4,20,2,w24,4,4,BBAGGINS_UCSD_EDU_2,2/24/19,NaN,...,-4,Y,-4,-4,200.0,mg,QD,N,-4,-4.0
9,24,-4,20,2,w36,4,4,BBAGGINSD_UCSD_EDU_2,5/24/19,NaN,...,-4,Y,-4,-4,200.0,mg,QD,N,-4,-4.0
10,26,-4,19,1,bl,4,4,MORPHEUS_UCSD_EDU_2,8/9/18,NaN,...,8/27/18,Y,-4,-4,280.0,mg,QD,N,-4,-4.0
11,28,-4,17,2,bl,4,4,STARBUCK_UCSD_EDU,8/9/18,NaN,...,8/17/18,Y,-4,-4,200.0,mg,QD,N,-4,-4.0
12,30,-4,19,1,w02,4,4,MORPHEUS_UCSD_EDU_2,8/9/18,NaN,...,2/2/19,N,OTHER,Test,-4.0,-4,-4,-4,-4,-4.0
13,32,-4,17,2,w02,4,4,MORPHEUS_UCSD_EDU,8/9/18,NaN,...,NaN,Y,-4,-4,140.0,mg,QD,Y,PER PROTOCOL,NaN

In [128]:
left_mergedf(t2_ec, t2_registry,'RID', 'VISCODE').SVRESCRN[0]

'-4'

In [124]:
merge_df.keys()

Index(['ID_x', 'SX_x', 'RID', 'SITEID_x', 'VISCODE', 'ENTRY_x', 'VERIFY_x',
       'USERID_x', 'USERDATE_x', 'USERID2_x', 'USERDATE2_x', 'SVPERF',
       'SVSTDT', 'SVRESCRN', 'SVPREVID', 'SVCALL', 'SVDOSE', 'SVCOVAL', 'ID_y',
       'SX_y', 'SITEID_y', 'ENTRY_y', 'VERIFY_y', 'USERID_y', 'USERDATE_y',
       'USERID2_y', 'USERDATE2_y', 'RECNO', 'ECSTDAT', 'ECENDAT', 'ECOCCUR',
       'ECREASOC', 'REASOTH', 'ECSDSTXT', 'ECDOSU', 'ECDOSFRQ', 'ECDOSADJ',
       'ECADJ', 'ECADJOTH'],
      dtype='object')

In [48]:
merge_df = pd.merge(t2_registry, t2_ec,  how='left', on = ['RID', 'VISCODE'])
merge_df[]

,ID_x,SX_x,RID,SITEID_x,VISCODE,ENTRY_x,VERIFY_x,USERID_x,USERDATE_x,USERID2_x,...,ECENDAT,ECOCCUR,ECREASOC,REASOTH,ECSDSTXT,ECDOSU,ECDOSFRQ,ECDOSADJ,ECADJ,ECADJOTH
0,6,-4,19,1,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,-4,17,2,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,-4,20,2,sc,4,4,BBAGGINS_UCSD_EDU_2,8/9/18,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12,-4,20,2,bl,4,4,BBAGGINS_UCSD_EDU_2,8/10/18,NaN,...,8/10/18,Y,-4,-4,140.0,mg,QD,N,-4,-4.0
4,14,-4,20,2,w02,4,4,BBAGGINS_UCSD_EDU_2,8/24/18,NaN,...,2/18/19,Y,-4,-4,280.0,mg,QD,Y,PER PROTOCOL,-4.0

In [56]:
viscode = 'w02'
svdose = 'Y'
ECSDSTXT = 280

In [54]:
merge_df['ECSDSTXT']

0       NaN
1       NaN
2       NaN
3     140.0
4     280.0
5      -4.0
6     200.0
7     200.0
8     200.0
9     200.0
10    280.0
11    200.0
12     -4.0
13    140.0
Name: ECSDSTXT, dtype: float64

In [53]:
merge_df.keys()

Index(['ID_x', 'SX_x', 'RID', 'SITEID_x', 'VISCODE', 'ENTRY_x', 'VERIFY_x',
       'USERID_x', 'USERDATE_x', 'USERID2_x', 'USERDATE2_x', 'SVPERF',
       'SVSTDT', 'SVRESCRN', 'SVPREVID', 'SVCALL', 'SVDOSE', 'SVCOVAL', 'ID_y',
       'SX_y', 'SITEID_y', 'ENTRY_y', 'VERIFY_y', 'USERID_y', 'USERDATE_y',
       'USERID2_y', 'USERDATE2_y', 'RECNO', 'ECSTDAT', 'ECENDAT', 'ECOCCUR',
       'ECREASOC', 'REASOTH', 'ECSDSTXT', 'ECDOSU', 'ECDOSFRQ', 'ECDOSADJ',
       'ECADJ', 'ECADJOTH'],
      dtype='object')

In [57]:
merge_filter  = merge_df.loc[(merge_df["VISCODE"] == viscode), :]
merge_filter = merge_filter.loc[merge_filter["SVDOSE"] == svdose, :]
merge_filter = merge_filter.loc[merge_filter["ECSDSTXT"] != ECSDSTXT, :]
merge_filter.head()

,ID_x,SX_x,RID,SITEID_x,VISCODE,ENTRY_x,VERIFY_x,USERID_x,USERDATE_x,USERID2_x,...,ECENDAT,ECOCCUR,ECREASOC,REASOTH,ECSDSTXT,ECDOSU,ECDOSFRQ,ECDOSADJ,ECADJ,ECADJOTH
12,30,-4,19,1,w02,4,4,MORPHEUS_UCSD_EDU_2,8/9/18,NaN,...,2/2/19,N,OTHER,Test,-4.0,-4,-4,-4,-4,-4.0
13,32,-4,17,2,w02,4,4,MORPHEUS_UCSD_EDU,8/9/18,NaN,...,NaN,Y,-4,-4,140.0,mg,QD,Y,PER PROTOCOL,NaN

In [59]:
merge_filter = merge_filter.rename(columns={"ID_x": "ID", "USERID_x": "USERID"})
merge_filter

,ID,SX_x,RID,SITEID_x,VISCODE,ENTRY_x,VERIFY_x,USERID,USERDATE_x,USERID2_x,...,ECENDAT,ECOCCUR,ECREASOC,REASOTH,ECSDSTXT,ECDOSU,ECDOSFRQ,ECDOSADJ,ECADJ,ECADJOTH
12,30,-4,19,1,w02,4,4,MORPHEUS_UCSD_EDU_2,8/9/18,NaN,...,2/2/19,N,OTHER,Test,-4.0,-4,-4,-4,-4,-4.0
13,32,-4,17,2,w02,4,4,MORPHEUS_UCSD_EDU,8/9/18,NaN,...,NaN,Y,-4,-4,140.0,mg,QD,Y,PER PROTOCOL,NaN

In [64]:
final_merge = merge_filter[['ID', 'RID', 'USERID', 'VISCODE', 'SVDOSE', 'ECSDSTXT']]

In [65]:
final_merge

    ID  RID               USERID VISCODE SVDOSE  ECSDSTXT
12  30   19  MORPHEUS_UCSD_EDU_2     w02      Y      -4.0
13  32   17    MORPHEUS_UCSD_EDU     w02      Y     140.0

In [69]:
final_merge.to_csv('results.csv', index=False)

In [122]:
directory = "file/"
file = directory+"results.csv"
file

'file/results.csv'

In [123]:
final_merge.to_csv(file, index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'file/results.csv'

In [134]:
import pandas
pandas.__version__

'0.24.2'